body {
    font-family: Arial, sans-serif;
    background-color: #e9f5fe;
}
.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: calc(100% - 10px);
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.form-group .toggle-password {
    cursor: pointer;
    font-size: 12px;
    color: #007BFF;
}
.form-group .toggle-password:hover {
    text-decoration: underline;
}
.btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
}
.btn:hover {
    background-color: #0056b3;
}
.signup-link {
    margin-top: 10px;
    text-align: center;
}
.signup-link a {
    color: #007BFF;
    text-decoration: none;
}
.signup-link a:hover {
    text-decoration: underline;
}